body {
	position: relative;
}
.helpSection {
    padding-top: 50px;
        padding-bottom: 70px;
}
.smallShow {
    display: none;
}
.smallHide {display: block;}
.gatool-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: #FC4FCD;
    border-top-width: medium;
    border-top-style: solid;
    margin-top: 10px;
}
.announcingTips {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.nav li a {
        padding-left: 10px;
        padding-right: 10px;
    }

@media screen and (min-width:1080px) and (max-width:1380px){
    .navbar-brand {
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }
    .smallShow {
    display: block;
}
.smallHide {display: none;}
}
@media screen and (min-width:880px) and (max-width:1080px){
    .nav li a{
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-brand {
        font-size: 14px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .smallShow {
    display: block;
}
.smallHide {display: none;}
}

