<li>{{team.teamNumber}} - <span [ngStyle]="stateManager.getTeamDataBold() ? {'font-weight': 'bold'} : {}">{{team.nameShort}}</span><p>{{team.organization}}</p><p>Top Sponsors: {{team.topSponsors}}</p>
  <div *ngIf="!!teamAwards && teamAwards.length > 0">
    <ul>
      <li *ngFor="let award of teamAwards">
        {{award.awardId}} - {{award.name}} – {{award.schoolName}}
      </li>
    </ul>
  </div>
  <div class="d-flex align-items-center m-2" *ngIf="loadingTeamData">
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</li>
