@import url("https://use.typekit.net/oft7ueo.css");

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 40px;
	margin-bottom: 40px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

th,
td {
	padding: 10px;
}

/* Style the list */
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
}

/* Style the links inside the list items */
ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 12px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
.active {
	background-color: #ccc;
	box-shadow: inset 0px 0px 5px 2px #FF0000;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 4px 4px;
	/*border: 1px solid #ccc;*/
	border-top: none;
}

.tabcontent {
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes timerHighlight {
	from {
		background-color: red;
		color: white;
	}

	to {
		background-color: white;
		color: red;
	}
}

@keyframes timerReset {
	from {
		color: red;
		background-color: red;
	}

	to {
		color: black;
		background-color: white;
	}
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}

.redAlliance {
	border: 2px solid #ccc;
	background-color: #F7B3B4
}

.redAllianceTeam {
	color: #FF0000
}

.redAlliancePlayByPlay {
	border: 1px solid #ccc;
	align-content: center;
	text-align: center;
	background-color: red;
	font-size: x-large;
	font-weight: bold;
	color: white
}

.blueAlliance {
	border: 2px solid #ccc;
	background-color: #98B4F4
}

.blueAllianceTeam {
	color: #0000FF
}

.blueAlliancePlayByPlay {
	border: 1px solid #ccc;
	align-content: center;
	text-align: center;
	background-color: blue;
	font-size: x-large;
	font-weight: bold;
	color: white
}

.playByPlayTeamName {
	font-size: 36px;
	margin: 0px
}

.playByPlayTeamNameStats {
	font-size: 24px;
	margin: 0px
}

.playByPlayWinLossTie {
	font-size: large;
	font-style: italic;
	align-content: center;
	text-align: center
}

.ranking {
	align-content: center;
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
	color: black
}

.rank1 {
	text-align: center;
	color: white;
	background-color: orange
}

.rank2 {
	text-align: center;
	color: white;
	background-color: green
}

.rank9 {
	text-align: center;
	color: black;
	background-color: yellow
}

.rank0 {
	text-align: center;
	color: black
}

.teamName {
	font-size: x-large;
	color: black
}

.announceTeamNumber {
	font-size: x-large;
	color: black
}

.matchNumber {
	font-size: x-large
}

.popup {
	width: auto;
	height: 180px;
	background-color: #888888
}

.gatool-button-row {}

.gatool-button {
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	margin: 0px
}

.gatool-playbyplay {
	border: 1px solid #ccc;
}

.gatool-announce {
	border: 1px solid #ccc;
	background-color: white
}

.gatool-sponsors {
	margin-top: 30px
}

.gatool-footer {
	/*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;*/
	border-top: #FC4FCD;
	border-top-width: medium;
	border-top-style: solid;
	margin-top: 10px;
}

.gatool-HighScores {
	font-size: 16px;
	font-weight: bold
}

.gatool-worldHighScores {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	margin: 0px
}

.champs {
	color: blue
}

.HOFRed {
	font-style: italic;
	font-weight: bold;
	color: blue;
	line-height: 1
}

.HOFBlue {
	font-style: italic;
	font-weight: bold;
	color: red;
	line-height: 1
}

.robotName {
	font-style: italic;
	font-weight: bold;
	color: #FF4000
}

.playByPlayRobotName {
	font-style: italic;
	color: #F9FE00;
	margin: 5px 0px 5px;
	line-height: 100%
}

.playByPlayteamNumber {
	font-size: 40px;
	margin: 0px
}

.playByPlaysayNumber {
	font-size: medium;
	line-height: 100%;
	margin-bottom: 10px
}

.playByPlayOrganization {
	font-size: medium;
	font-style: italic;
	line-height: 100%;
	margin: 0px
}

.playByPlayCity {
	font-size: medium;
	line-height: 100%;
	padding-top: 15px;
	margin: 0px
}

.playByPlayAlliance {
	font-size: 20px;
	line-height: 100%;
	margin-top: 5px
}

.playByPlayChampsAlliance {
	margin: 0px;
	line-height: 100%
}

.awards {
	font-style: italic;
	line-height: 1
}

.sponsors {
	line-height: 1;
	font-weight: 900
}

.notes {
	line-height: 1;
	font-weight: 900
}

.playoffAlert {
	font-style: italic;
	font-weight: bolder;
	color: #FF0000;
	font-size: 20px
}

.announceOrganization {
	font-size: 20px;
	font-weight: bold
}

.announceAlliance {
	font-size: 16px;
	font-weight: bold
}

.teamUpdateTable {}

.undoButton {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.teamDataNumber {
	font-size: 18px;
	font-weight: bold
}

.wltTable {
	border-width: thin;
	background-color: rgba(255, 255, 255, 0.20);
	text-align: center;
	align-content: center;
	margin: auto;
}

.wltCol {
	width: 33%
}

.loadingEvent {
	color: red
}

.cell {
	display: inline
}

.col1 {
	width: 83px
}

.col2 {
	width: 166px
}

.col3 {
	width: 250px
}

.col4 {
	width: 333px
}

.col5 {
	width: 416px
}

.col6 {
	width: 500px
}

.col9 {
	width: 750px
}

.col10 {
	width: 833px
}

.spacer {
	height: 100px
}

.eventName {
	font-size: 20px;
	font-weight: bold
}

.alliancedrop {
	padding: 5px;
	/*height: 64px;*/
	margin-bottom: 5px;
	border: 1px solid;
	border-radius: 5px;
	background: rgba(221, 221, 221, 1.00)
}

.allianceTeam {
	font-size: 18px;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 1.00)
}

.highlightedTeam {
	color: white;
	background: green !important;
}

.playoffTeam {
	font-size: 18px;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 1.00)
}

.awardAllianceTeam {
	font-size: 18px;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 1.00)
}

.dropzone {
	border: 4px solid rgba(255, 0, 0, 1.00);
	transition: background-color 0.3s;
}

.nextAllianceChoice {
	background: rgba(202, 184, 184, 1.00);
	border: 4px solid rgba(255, 0, 0, 1.00);
	transition: background-color 0.3s;
}

.drop-active {
	border-color: #3500FF;
}

.drop-target {
	background-color: #29e;
	border-color: #fff;
	border-style: solid;
}

.drag-drop {
	display: inline-block;
	min-width: 40px;
	padding: 2em 0.5em;
	color: #fff;
	background-color: #29e;
	border: solid 2px #fff;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	transition: background-color 0.3s;
}

.drag-drop.can-drop {
	color: #000;
	background-color: #4e4;
}

.allianceCaptain {
	background: rgba(251, 255, 135, 1.00)
}

.allianceDeclined {
	background: rgba(255, 0, 0, 1.00)
}

.allianceAnnounce {
	font-size: 18px;
	align-content: center;
	text-align: center
}

.allianceAnnounceDialog {
	font-size: 30px;
	align-content: center;
	text-align: center
}

.redScore {
	color: red
}

.redScoreWin {
	color: red;
	font-weight: bold
}

.blueScore {
	color: blue
}

.blueScoreWin {
	color: blue;
	font-weight: bold
}

.tieScore {
	color: green
}

.greyScore {
	color: rgb(177, 176, 176)
}

.bracketLeft {
	border-radius: 5px 25px 25px 5px
}

.bracketRight {
	border-radius: 25px 5px 5px 25px
}

.bracketSpacer {
	background: rgb(194, 237, 255)
}

.danger {
	color: red
}

.backupAlliancesTable {
	text-align: center;
	background: rgba(192, 252, 188, 1.00)
}

.availableTeams {
	text-align: center;
	background: rgba(255, 187, 248, 1.00)
}

.playoffBracket {
	text-align: center;
	background: rgb(194, 237, 255);
	border-radius: 10px;
	width: 100%
}

.playoffBracketHeader {
	text-align: center;
	font-weight: bold
}

.playoffMatchResult {
	font-size: 18px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px
}

.bracket1 {
	height: 100px;
}

.bracket2 {
	height: 200px;
}

.bracket3 {
	height: 300px;
}

.bracket4 {
	height: 400px;
}

.quarterfinalBlue {
	background: rgb(204, 215, 252)
}

.quarterfinalRed {
	background: rgb(252, 204, 204)
}

.semifinalBlue {
	background: rgb(136, 166, 242)
}

.semifinalRed {
	background: rgb(242, 136, 136)
}

.final {
	background: rgb(34, 109, 238)
}

.bracketBlueAlliance {
	color: blue;
	font-weight: bold
}

.bracketRedAlliance {
	color: red;
	font-weight: bold
}

.alliancesTeamsTable {
	text-align: center;
	background: rgba(157, 203, 250, 1.00)
}

.awardsSelectionTable {
	text-align: center;
	background: rgba(192, 252, 188, 1.00)
}

.announcingTips {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */
	-moz-column-count: 3;
	/* Firefox */
	column-count: 3;
	-webkit-column-gap: 40px;
	/* Chrome, Safari, Opera */
	-moz-column-gap: 40px;
	/* Firefox */
	column-gap: 40px;
}

.mobileHide {
	font-size: 12px;
	display: block
}

.champsDisplay {
	display: none
}

.thirdAllianceSelection {
	display: none
}

.awardHilight {
	font-weight: bold;
	color: green
}

.alertButton {
	margin-bottom: 10px
}

.cityStateSort {
	display: none
}

.davidPrice {
	font-size: 500px;
	text-align: center;
	font-family: "alternate-gothic-no-1-d", sans-serif;
	line-height: 85%
}

.davidPriceAlliances {
	font-size: 300px;
	text-align: center;
	font-family: "alternate-gothic-no-1-d", sans-serif;
	line-height: 50%
}

.bootstrap-dialog-footer-buttons {
	text-align: center
}

.showAlliancePlayoff {
	text-align: center;
	margin-top: 40px
}

.hiddenInput {
	width: 0px;
	height: 0px;
	overflow: hidden
}

.form-flex {
	height: 100%
}

.placeholder:empty:before {
	content: attr(placeholder);
	color: rgb(153, 153, 153);
}

@media (max-width: 768px) {
	p {
		margin: 2px 5px;
	}

	.allianceTeam {
		font-size: 14px;
	}

	.tabcontent {
		font-size: 12px
	}

	.tab {
		font-size: 12px
	}

	.announceTeamNumber {
		font-size: 20px
	}

	.announceOrganization {
		font-size: 16px
	}

	.teamName {
		font-size: 16px
	}

	.ranking {
		font-size: 24px
	}

	.gatool-playbyplay {
		font-size: 12px
	}

	.playByPlayAlliance {
		font-size: 12px
	}

	.playByPlayCity {
		font-size: 12px
	}

	.playByPlayteamNumber {
		font-size: 24px
	}

	.playByPlaysayNumber {
		font-size: 12px
	}

	.playByPlayOrganization {
		font-size: 12px
	}

	.playByPlayTeamName {
		font-size: 18px
	}

	.playByPlayTeamNameStats {
		font-size: 12px
	}

	.playByPlayRobotName {
		font-size: 12px
	}

	.playByPlayWinLossTie {
		font-size: 12px
	}

	.gatool-button {
		font-size: 14px;
		padding: 4px
	}

	.navBarImage {
		display: none
	}

	ul.tab li a {
		font-size: 12px;
		padding: 12px
	}

	.playoffAlert {
		font-style: italic;
		font-weight: bolder;
		color: #FF0000;
		font-size: 14px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navBarImage {
		display: none
	}

	ul.tab li a {
		font-size: 16px;
		padding: 12px 24px
	}

	.mobileHide {
		display: none
	}

	.davidPrice {
		font-size: 400px
	}
}

.davidPriceAlliances {
	font-size: 300px
}

@media (min-width: 541px) and (max-width: 767px) {

	th,
	td {
		padding: 5px;
	}

	ul.tab li a {
		font-size: 12px;
		padding: 12px 20px
	}

	.navBarImage {
		display: none
	}

	.playByPlayAlliance {
		font-size: 10px
	}

	.playByPlayCity {
		font-size: 10px
	}

	.mobileHide {
		display: none
	}

	.playByPlaysayNumber {
		font-size: 10px;
	}

	.playByPlayOrganization {
		font-size: 10px
	}

	.davidPrice {
		font-size: 300px;
	}

	.davidPriceAlliances {
		font-size: 250px
	}
}

@media (max-width: 540px) {
	.navBarImage {
		display: none
	}

	.mobileHide {
		display: none
	}

	ul.tab li a {
		font-size: 11px;
		padding: 12px 10px
	}

	.davidPrice {
		font-size: 300px;
	}

	.davidPriceAlliances {
		font-size: 250px
	}
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.navBarImage {
		display: none
	}

	ul.tab li a {
		font-size: 12px;
		padding: 12px 28px
	}

	.mobileHide {
		display: none
	}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	ul.tab li a {
		font-size: 12px;
		padding: 12px 18px
	}

	.playByPlayAlliance {
		font-size: 14px;
		margin: 0px;
	}

	.playByPlayCity {
		font-size: 14px;
		margin: 0px;
	}

	.mobileHide {
		display: block
	}

	.playByPlaysayNumber {
		font-size: 14px;
		margin-bottom: 5px
	}

	.playByPlayOrganization {
		font-size: 14px;
		margin: 0px;
	}
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.navBarImage {
		display: block
	}

	ul.tab li a {
		font-size: 12px;
		padding: 12px 22px
	}

	.mobileHide {
		font-size: 12px;
		display: block
	}
}

/* Landscape */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	ul.tab li a {
		font-size: 14px
	}

	.playByPlayAlliance {
		font-size: 16px;
		margin: 0px;
	}

	.playByPlayCity {
		font-size: 16px;
		margin: 0px;
	}

	.mobileHide {
		font-size: 14px;
		display: block
	}

	.playByPlaysayNumber {
		font-size: 16px
	}

	.playByPlayOrganization {
		font-size: 16px;
		margin: 0px;
	}
}

/*iPhone 5 and 5S */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.gatool-button {
		font-size: 12px;
		padding: 4px;
	}

	.playByPlayTeamName {
		font-size: 13px;
	}

	.playByPlayTeamNameStats {
		font-size: 9px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.gatool-button {
		font-size: 12px;
		padding: 4px;
	}

	.playByPlayTeamName {
		font-size: 13px;
		;
		margin: 0px;
	}

	.playByPlayTeamNameStats {
		font-size: 9px;
		;
		margin: 0px;
	}
}