<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">GATool</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/setup" routerLinkActive="active">Setup</a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
