<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">GATool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Setup
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/matches" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Match Schedule
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Team Data
        </a>
      </li>
      <li class="nav-item">
        <div class="spinner-grow text-light" role="status" *ngIf="stateService.httpOperationsInProgress()">
          <span class="sr-only">Loading...</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
