<div class="container pt-4">
  <div class="card" *ngIf="!(!!selectedSeason && !!selectedEvent)">
    <div class="card-header">
      <h1>No Season Selected</h1>
    </div>
    <div class="card-body">
      <h2 style="color: red">Please select a year and season on the setup tab</h2>
    </div>
  </div>
  <div class="card" *ngIf="!!selectedSeason && !!selectedEvent">
    <div class="card-header">
      <h1>{{selectedSeason}} - {{selectedEvent}} Teams</h1>
    </div>
    <div class="table-container">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Team #</th>
            <th>Rank</th>
            <th>Team Name</th>
            <th>City</th>
            <th>Top 5 Sponsors</th>
            <th>Organization</th>
            <th>Rookie Year</th>
            <th>Robot Name</th>
            <th>Awards</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{team.teamNumber}}</td>
            <td>{{team.rank}}</td>
            <td class="table-success" *ngIf="team.nameShortLocal; else nameShort">{{team.nameShortLocal}}</td>
            <ng-template #nameShort>
              <td>{{team.nameShort}}</td>
            </ng-template>
            <td class="table-success" *ngIf="team.cityStateLocal; else cityState">{{team.cityStateLocal}}</td>
            <ng-template #cityState>
              <td>{{team.cityState}}</td>
            </ng-template>
            <td class="table-success" *ngIf="team.topSponsorsLocal; else topSponsors">{{team.topSponsorsLocal}}</td>
            <ng-template #topSponsors>
              <td>{{team.topSponsors}}</td>
            </ng-template>
            <td class="table-success" *ngIf="team.organizationLocal; else organization">{{team.organizationLocal}}</td>
            <ng-template #organization>
              <td>{{team.organization}}</td>
            </ng-template>
            <td>{{team.rookieYear}}</td>
            <td class="table-success" *ngIf="team.robotNameLocal; else robotName">{{team.robotNameLocal}}</td>
            <ng-template #robotName>
              <td>{{team.robotName}}</td>
            </ng-template>
            <td class="table-success" *ngIf="team.awardsLocal; else awards">{{team.awardsLocal}}</td>
            <ng-template #awards>
              <td>
                <ul>
                  <li *ngFor="let award of team.awards">
                    {{award.season}} – {{award.name}}
                  </li>
                </ul>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
