.redScore {
	color: red
}
.redScoreWin {
	color: red;
	font-weight: bold
}
.blueScore {
	color: blue
}
.blueScoreWin {
	color: blue;
	font-weight: bold
}
.tieScore {
	color: green
}
.greyScore {
	color: rgb(177, 176, 176)
}
.bold {
	font-weight: bold
}