.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold;
}

.centerTable {
  vertical-align: middle;
}

.leftTable {
  vertical-align: middle;
  text-align: left;
}

.setupPageMenus {
  background-color: rgb(227, 247, 255);
  padding: 10px;
  border-color: blue;
  border-style: solid;
  margin-bottom: 5px;
}
.setupPageFilters {
  background-color: rgb(231, 255, 227);
  padding: 10px;
  border-color: rgb(107, 221, 0);
  border-style: solid;
  margin-bottom: 10px;
}

.switchLabel {
  display: table-cell;
  height: 25px;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}